

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    
    color:white;
    margin: 0;
    background-color: white;
}

body, html {
    overflow-x: hidden;
  }

.hero-section{
    display: flex;
    flex-direction: row;
    height: 800px;
    justify-content: flex-end;
    background-color:black;
    overflow: hidden;
    position: relative;
    }
   
    #nadpis{
        font-family: "DM Serif Display";
        font-size: clamp(6rem, 20vw, 10rem);
        width: 50%;
        z-index: 2;
        position: absolute;
        left: 4vw;     
    }
   
    #underlined{
        color: rgb(238, 26, 26);
    }
    
    #nadpis span{
        transition: color 0.3s;
        
    }

        
    svg{
        max-height: fit-content;
        display: block;
        
        
    }
    #portrait-div{
        z-index: 1;
        position: relative; 
    }

    #portrait{
        max-height: 800px;
        transition: max-height 3s;
        
    }
    
.intro-section{
    background-color: #ee1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Oswald";
    
       
}
    #ib{
        font-family: "Oswald";
        font-size: 8rem;
        font-weight: bold;
        text-align: center;
        position: relative;
        bottom: 100px;
        z-index: 1;
        width: 100vw;         
    }
     
    #ib-text{
        font-size: 3rem;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    #button{
        background-color: #EDC532;
        border: solid white 5px;
        color: black;
        border-radius: 50px;
        padding:25px;
        font-family: "Oswald";
        font-weight: bold;
        font-size: 3rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }


    #experience-header{
        font-family:"DM Serif Display";
        font-size: 8rem;
        grid-area: 1/2/2/3;
        text-align: center;
        position: relative;
        top: 75px;
        width: 100vw;    
              
    }

.experience-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    
    
     
}
    .flex-container-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .category {  
    max-width: 300px;
    }
     
    .experience-section .polozka {
        font-size: 3rem;
        font-family: "Oswald";
        text-align: left;
     
        
    }
    .experience-section .polozka ul {
        
        list-style-type: none;
        font-size: 2rem;
        padding-left: 30px;
        text-align: left;
    }
   

.footer-class{
    background-color: rgb(119, 14, 14);
    padding: 20px;
    text-align: center;
    color: rgb(119, 119, 119);
}

/*ANIMATIONS FOR THE BACKGROUND*/
.hero-section{
       /* Set an initial background so you can see the gradient before the animation starts */
    background: linear-gradient(45deg, black, black, #ee1a1a, #ee1a1a);
    background-size: 200% 200%;
    animation: gradientChange 8s linear infinite;
    }
/*ANIMATIONS FOR THE INITIAL VIEW*/
    #nadpis{
        
         opacity: 0;
         transform: translateX(-150px);
         animation: fadeInUp 2s forwards;
         animation-play-state: paused;      
    }
   
    #portrait-div{
         opacity: 0;
         transform: translateX(150px);
         animation: fadeInUp 2s forwards;
         animation-play-state: paused;
         animation-delay: 0.5s;   
    }

    
    #ib, #ib-text, #box {
         opacity: 0;
         transform: translateY(150px);
         animation: fadeInUp 2s forwards;
         animation-play-state: paused;               
    }

    #ib{
        animation-delay: 1s; 
    }

    .category2>.polozka{
        opacity: 0;
        transform: translateY(150px);
        animation: fadeInUp 2s forwards;
        animation-play-state: paused;  
    }

    .category1>.polozka{
        opacity: 0;
        transform: translateY(150px) translateX(-100px);
        animation: fadeInUp 2s forwards;
        animation-play-state: paused;  
    }
    .category3>.polozka{
        opacity: 0;
        transform: translateY(150px) translateX(100px);
        animation: fadeInUp 2s forwards;
        animation-play-state: paused;
    }
    #nadpis.loaded, #portrait-div.loaded, #ib.loaded, #ib-text.loaded, #box.loaded, .category1>.polozka.loaded, .category2>.polozka.loaded, .category3>.polozka.loaded {
        animation-play-state: running;
    }
    
    /*ANIMATIONS FOR THE HEADING*/
        #nadpis > span:not(#underlined):hover {
        color: #EDC532;/* styles for direct span children of #nadpis but not #underlined */
        
    }

    #nadpis > span > span:hover {
        color: #EDC532;/* styles for direct span children of #underlined */
    } 
    /*ANIMATIONS FOR THE PORTRAIT*/
    #portrait:hover{
        max-height: 1000px;
        
    }

    /*ANIMATIONS FOR THE BUTTON*/
    #button:hover {
        background-color: black;
        color: #EDC532;
        border: solid #EDC532 5px;
    }

    #box #button {
        position: relative; /* Set the button's position to relative */
        overflow: hidden; /* Set overflow to hidden to clip the pseudo-element */
    }
    
    #box #button::before {
        content: ""; /* Generate a pseudo-element */
        position: absolute; /* Absolutely position the pseudo-element */
        top: 0;
        right: 0%; 
        bottom: 0;
        left: 0;
        background: #EDC532; /* Set the background color of the pseudo-element to the page background color */
        z-index: 1; /* Place it above the button content */
    }
    
    #button.loaded::before {
        animation: revealButton 4s forwards; /* Apply the animation when the loaded class is added */
    }
    
/*ANIMATIONS FOR THE EXPERIENCE LETTERS*/
   .pismeno{
    display: inline-block;
    opacity: 0;
    animation: fadeInUp 2s forwards;
    animation-play-state: paused; 
   }

    .prvni-pismeno{
    transform: translateX(-225px);
   }
   .druhe-pismeno{
    transform: translateX(-175px);
   }
   .treti-pismeno{
    transform: translateX(-125px);
   }
   .ctvrte-pismeno{
    transform: translateX(-75px);
   }
   .pate-pismeno{
    transform: translateX(-25px);
   }
   .seste-pismeno{
    transform: translateX(25px);
   }
   .sedme-pismeno{
    transform: translateX(75px);
   }
   .osme-pismeno{
    transform: translateX(125px);
   }
   .devate-pismeno{
    transform: translateX(175px);
   }
   .desate-pismeno{
    transform: translateX(225px);
   }

   .pismeno.loaded {
    animation-play-state: running;
}
/*ANIMATIONS KEYFRAMES*/

@keyframes gradientChange {
    0%, 100% {
        background: linear-gradient(45deg, black, black, #ee1a1a, #ee1a1a);
        background-size: 200% 200%;
        background-position: 0% 100%;
    }
    50% {
        background: linear-gradient(45deg, black, black, #ee1a1a, #ee1a1a);
        background-size: 200% 200%;
        background-position: 10% 60%;
    }
}
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateX(0) translateY(0);
      
    }
  }
@keyframes revealButton {
    to {
        bottom: 100%; /* Move the pseudo-element to reveal the button content */
    }
}

/*MEDIA QUERIES*/
   
       @media (max-width: 750px) {
        
        #ib{
            font-size: 3.5rem;
            background: #1a1a1850;
            bottom:85px;            
        }
        #ib-text{
            font-size: 1.5rem;
        }
        
        #button{
            font-size: 1.5rem;
        }
        .experience-section{
        padding-top: 90px;        
         }
        #experience-header{
            font-size: 3.5rem;
            top:32px;
            
        }

         .experience-section .polozka {
            font-size: 1.8rem;   
         }

         .experience-section .polozka ul {
        
            font-size: 1.5rem;
        }

      }

      
    
  
