

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    
    color:white;
    margin: 0;
    background-color: white;
}

.hero-section{
    display: flex;
    flex-direction: row;
    max-height: 800px;
    justify-content: flex-end;
    background-color:black;
    overflow: hidden;
    position: relative;
    /* Set an initial background so you can see the gradient before the animation starts */
    background: linear-gradient(45deg, black, black, #ee1a1a, #ee1a1a);
    background-size: 200% 200%;
    animation: gradientChange 8s linear infinite;
    }

    @keyframes gradientChange {
        0%, 100% {
            background: linear-gradient(45deg, black, black, #ee1a1a, #ee1a1a);
            background-size: 200% 200%;
            background-position: 0% 100%;
        }
        50% {
            background: linear-gradient(45deg, black, black, #ee1a1a, #ee1a1a);
            background-size: 200% 200%;
            background-position: 10% 60%;
        }
    }
       

    #nadpis{
        font-family: "DM Serif Display";
        font-size: 10rem;
        padding-left: 2rem;
        width: 50%;
        z-index: 2;
        position: absolute;
        left: 2rem;     
    }

    #underlined{
        color: rgb(238, 26, 26);
    }
    #nadpis span{
        transition: color 0.3s;
    }
    #nadpis > span:not(#underlined):hover {
        color: #EDC532;/* styles for direct span children of #nadpis but not #underlined */
    }

    #nadpis > span > span:hover {
        color: #EDC532;/* styles for direct span children of #underlined */
    }
    
    svg{
        max-height: fit-content;
        display: block;
        
        
    }
    #portrait-div{
        z-index: 1;
        position: relative;
        
    }
     #portrait{
        max-height: 800px;
        transition: max-height 3s;
        
    }
    #portrait:hover{
        max-height: 1000px;
        
    }


.intro-section{
    background-color: #ee1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Oswald";
    
       
}
    #ib{
        font-family: "Oswald";
        font-size: 8rem;
        font-weight: bold;
        text-align: center;
        position: relative;
        bottom: 100px;
        z-index: 1;       
    }
    #ib-text{
        font-size: 3rem;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    #button{
        background-color: #EDC532;
        border: solid white 5px;
        color: black;
        border-radius: 50px;
        padding:25px;
        font-family: "Oswald";
        font-weight: bold;
        font-size: 3rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #button:hover {
        background-color: black;
        color: #EDC532;
        border: solid #EDC532 5px;
    }

    #experience-header{
        font-family:"DM Serif Display";
        font-size: 8rem;
        grid-area: 1/2/2/3;
        text-align: center;
        position: relative;
        top: 75px;    
              
    }

.experience-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    
     
}
    .flex-container-row {
        display: flex;
        justify-content: center;
        
    }
    .category {
        display: flex;
        flex-direction: column;
        flex: 1;
        
        
    }
   
    .experience-section .polozka {
        font-size: 3rem;
        font-family: "Oswald";
    }
    .experience-section .polozka ul {
        
        list-style-type: none;
        font-size: 2rem;
        padding-left: 15px;
    }

.footer-class{
    background-color: rgb(119, 14, 14);
    padding: 20px;
    text-align: center;
    color: rgb(119, 119, 119);
}
   
       @media (max-width: 750px) {
        
        #ib{
            font-size: 3.5rem;
            background: #1a1a1850;
            bottom:85px;            
        }
        #ib-text{
            font-size: 1.5rem;
        }
        
        #button{
            font-size: 1.5rem;
        }
        .experience-section{
        padding-top: 90px;        
         }
        #experience-header{
            font-size: 3.5rem;
            top:32px;
            
        }

         .experience-section .polozka {
            font-size: 1.8rem;   
         }

         .experience-section .polozka ul {
        
            font-size: 1.5rem;
        }

      }

      @media (max-width: 560px) {
        #nadpis{
            font-size: 6rem;            
        }
    }
    
